div,form,img,ul,ol,li,dl,dt,dd,p,tr,td,body,strong,span,pre{margin:0; padding:0; border:0; background-repeat:no-repeat;}
h1,h2,h3,h4,h5,h6,p{ margin:0; padding:0; font-weight:normal;}
body{font-size:14px;font-family:"Microsoft YaHei","黑体"; margin:0px;padding:0px;line-height:23px;height:auto;clear:both; background:#f5f5f5; min-width:1200px;}
img{border:0px;}
ul,li{ list-style:none;}
em,i{ font-style:normal;}
a{ text-decoration:none;color:#333;}
a,area{blr:expression(this.onFocus=this.blur())}

/*通用样式*/
.fl{float:left;}
.fr{float:right}
.none {display: none;}
.clearfix:after{visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix{*zoom:1;}
/*input,button,select,textarea{outline:none; border:none;margin:0;padding:0;font-family:"Microsoft YaHei"; background:none;}*/
@font-face{ 
	font-family:'FZPHFW'; src:url('FZPHFW.TTF');
	/*font-family:'impact'; src:url('impact.TTF');*/
}

.side-bar a,.chat-tips i {background: url(../webimages/right_bg.png) no-repeat;}
.side-bar {width: 66px;position: fixed;bottom: 20px;right: 25px;font-size: 0;line-height: 0;z-index: 100;}
.side-bar a {width: 66px;height: 66px;display: inline-block;background-color: #ddd;margin-bottom: 2px;}
.side-bar a:hover {background-color: #669fdd;}
.side-bar .icon-qq {background-position: 0 -62px;}
.side-bar .icon-chat {background-position: 0 -130px;position: relative;}
.side-bar .icon-blog {background-position: 0 -198px;}
.side-bar .icon-mail {background-position: 0 -266px;}

.side-bar .icon-chat:hover .chat-tips {display: block;}
.chat-tips {padding: 20px;border: 1px solid #d1d2d6;position: absolute;right: 78px;top: -55px;background-color: #fff;display: none;}
.chat-tips i {width: 9px;height: 16px;display: inline-block;position: absolute;right: -9px;top: 80px;background-position:-88px -350px;}
.chat-tips img {width: 138px;height: 138px;}