.xinwenc1butoff {font-size:14px;color:#43B6D3;cursor:pointer;height:40px; line-height:40px;margin-left:20px; }
.xinwenc1butoff a:link{font-size:14px; color:#313131; text-decoration:none;}
.xinwenc1butoff a:hover{  font-size:14px; color:#313131; text-decoration:none;}
.xinwenc1butoff a:visited{  font-size:14px; color:#313131; text-decoration:none;}
.table_topb{ background:url(../images/topbg1.jpg) left top repeat-x;}
