BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
HR {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BUTTON {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 12px Microsoft YaHei; COLOR: #333; PADDING-TOP: 0px
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
OL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
LI {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
INPUT {
	LIST-STYLE-TYPE: none; FONT: 12px Microsoft YaHei; LIST-STYLE-IMAGE: none
}
TEXTAREA {
	LIST-STYLE-TYPE: none; FONT: 12px Microsoft YaHei; HEIGHT: 20px; LIST-STYLE-IMAGE: none
}
OPTION {
	LIST-STYLE-TYPE: none; FONT: 12px Microsoft YaHei; HEIGHT: 20px; LIST-STYLE-IMAGE: none
}
SELECT {
	LIST-STYLE-TYPE: none; FONT: 12px Microsoft YaHei; HEIGHT: 20px; LIST-STYLE-IMAGE: none
}
A IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
.center {
	TEXT-ALIGN: left; WIDTH: 980px; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.clear {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; CLEAR: both; FONT-SIZE: 0px; PADDING-TOP: 0px
}
.clearfix {
	
}
.clearfix:after {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.red {
	COLOR: #f00
}
A {
	COLOR: #333; CURSOR: pointer; TEXT-DECORATION: none
}
A:hover {
	COLOR: #e95701; TEXT-DECORATION: underline
}
.global_a_hover {
	COLOR: #e95701; TEXT-DECORATION: none
}
A.ls {
	COLOR: #36c; CURSOR: pointer; TEXT-DECORATION: none
}
A.ls:hover {
	COLOR: #e95701; CURSOR: pointer; TEXT-DECORATION: none
}
A.cs {
	COLOR: #f90; TEXT-DECORATION: none
}
A.cs:hover {
	COLOR: #e95701; TEXT-DECORATION: none
}
A.hs {
	COLOR: #444; TEXT-DECORATION: none
}
A.hs:hover {
	COLOR: #e95701; TEXT-DECORATION: none
}
.input_txt {
	BORDER-BOTTOM: #dfdfdf 1px solid; BORDER-LEFT: #dfdfdf 1px solid; TEXT-INDENT: 3px; HEIGHT: 20px; BORDER-TOP: #dfdfdf 1px solid; BORDER-RIGHT: #dfdfdf 1px solid; box-shadow: 0 0 4px #dfdfdf inset
}
.input_txt:hover {
	BORDER-BOTTOM: #ff6600 1px solid; BORDER-LEFT: #ff6600 1px solid; BORDER-TOP: #ff6600 1px solid; BORDER-RIGHT: #ff6600 1px solid; box-shadow: 0 1px 10px #FF6600 inset
}
.input_txt:focus {
	BORDER-BOTTOM: #ff6600 1px solid; BORDER-LEFT: #ff6600 1px solid; BORDER-TOP: #ff6600 1px solid; BORDER-RIGHT: #ff6600 1px solid; box-shadow: 0 1px 10px #FF6600 inset
}
.yxddcx SELECT {
	WIDTH: 122px
}
.cxFormtime {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 69px; BACKGROUND: url(../images/sell/pecsonal_cx.png) no-repeat; HEIGHT: 21px; MARGIN-LEFT: 10px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.cxFormtime:hover {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 69px; BACKGROUND: url(../images/sell/pecsonal_cx1.png) no-repeat; HEIGHT: 21px; MARGIN-LEFT: 10px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
操作：全选，下架，删除-- > .dxk_qx {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 69px; BACKGROUND: url(../images/quan.png) no-repeat; HEIGHT: 21px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.dxk_qx:hover {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 69px; BACKGROUND: url(../images/quanh.png) no-repeat; HEIGHT: 21px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.dxk_xj {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 69px; BACKGROUND: url(../images/xia.png) no-repeat; HEIGHT: 21px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.dxk_xj:hover {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 69px; BACKGROUND: url(../images/xiah.png) no-repeat; HEIGHT: 21px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.dxk_sc {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 69px; BACKGROUND: url(../images/shan.png) no-repeat; HEIGHT: 21px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.dxk_sc:hover {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 69px; BACKGROUND: url(../images/shanh.png) no-repeat; HEIGHT: 21px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.dxk_shangj {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 69px; BACKGROUND: url(../images/shangj.png) no-repeat; HEIGHT: 21px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.dxk_shangj:hover {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 69px; BACKGROUND: url(../images/shangh.png) no-repeat; HEIGHT: 21px; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none
}
.myxssl {
	CURSOR: pointer
}
ADDRESS {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CITE {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
CODE {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
DFN {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
EM {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
VAR {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
I {
	FONT-STYLE: normal; FONT-WEIGHT: normal
}
B {
	FONT-WEIGHT: bold
}
STRONG {
	FONT-WEIGHT: bold
}
.cent {
	TEXT-ALIGN: center; MARGIN: 0px auto
}
.b {
	FONT-WEIGHT: bold
}
.text_down {
	TEXT-DECORATION: underline
}
.text_none {
	TEXT-DECORATION: none
}
.ml10 {
	MARGIN-LEFT: 10px
}
.mb10 {
	MARGIN-BOTTOM: 10px
}
.mr10 {
	MARGIN-RIGHT: 10px
}
.mt10 {
	MARGIN-TOP: 10px
}
.m10 {
	
	MARGIN-TOP: 10px
}
.f11 {
	FONT-SIZE: 11px
}
.f12 {
	FONT-SIZE: 12px
}
.f14 {
	FONT-SIZE: 14px
}
.f15 {
	FONT-SIZE: 15px
}
.f16 {
	FONT-SIZE: 16px
}
.f18 {
	FONT-SIZE: 18px
}
.f22 {
	FONT-SIZE: 22px
}
.blue {
	COLOR: #36c
}
.red {
	COLOR: #f00
}
.yellow {
	COLOR: #f60
}
.blue_2 {
	COLOR: #3d86ea
}
.gray {
	COLOR: #666
}
.gray_2 {
	COLOR: #9a9a9a
}
.white {
	COLOR: #fff
}
.green {
	COLOR: #4dbf00
}
#preloader {
	BACKGROUND-IMAGE: url(../images/load_pic2.png); WIDTH: 0px; DISPLAY: inline; HEIGHT: 0px
}